@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,900&display=swap");

$bgColor: #19647e;
// $bgColor: #208aae;
$primaryColor: #fb8b24;
$secondaryColor: #e9f1f7;
$thirdColor: #ffe548;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

div.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // background: linear-gradient(90deg, rgb(88, 63, 63) 0%, rgb(0, 113, 141) 100%);
  background: $bgColor;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
div.game-info-container {
  // text-align: right;
  margin: 2rem;
  color: $secondaryColor;
  letter-spacing: 1px;
}
div.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.7rem;
  grid-row-gap: 0.7rem;

  // grid-template-rows: 1fr 1fr 1fr;
}
div.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 125px;
  height: 125px;
  perspective: 1000px;
  cursor: pointer;
}
div.card-success {
  display: flex;
  justify-content: center;
  align-items: center;
  // opacity: 0;
  width: 125px;
  height: 125px;
  perspective: 1000px;
}
div.card-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}
.card-active .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.card-front {
  background: $primaryColor;
}

.card-back {
  border: 8px solid $primaryColor;
  background-color: $secondaryColor;
  transform: rotateY(180deg);
}
img {
  max-height: 120px;
}
h1.success-msg {
  position: absolute;
  font-size: 7rem;
  font-weight: 700;
  color: $secondaryColor;
  top: 1rem;
  left: 50%;
  // transform: translate(-50%, 0);
  text-shadow: 2px 2px 4px black;
  padding: 1rem;
}

h1.win-msg {
  position: absolute;
  font-size: 10rem;
  font-weight: 700;
  color: $primaryColor;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px black;
  padding: 1rem;
}
